.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.form_flight {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 1000px;
  padding: 20px;
  width: 520px;
}
.form_register {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 700px;
  padding: 20px;
  width: 420px;
}


.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}














.container{
    max-width: 768px;
    width: 100%;
}


.container{
    background-color: #222831!important;
    font-weight: bold;
    color: #54b3d6;
}
.container-nav{
    background: #eeeeee!important;
}

.post-title{
    color: #54b3d6;
}




.corner {
    border-radius: 10px;
    border: 2px solid #333333;
}


nav a {
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

nav a:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
 background-position: 0;
}

nav a:hover::before{
  width: 100%;
}




body {
	background: #cdcdcd;
    background: linear-gradient(180deg, rgba(205,205,205,1) 0%, rgba(93,93,93,1) 50%, rgba(34,39,43,1) 100%);
}

.fourth-color {
	background: #222831;
}

.nav-back{
    background: #cdcdcd;
    background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(93,93,93,1) 42%, rgba(62,65,67,1) 71%, rgba(34,39,43,1) 100%);}
article img{
    max-width: 100% !important;
    height: auto !important;
    border-radius: .25rem!important;
}

.featured-image-list{
    object-fit: cover;
}