
{% extends "base.html" %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    {{ message|safe|escape }}
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    {{ message|safe }}
                </div>
            {% elif message.tags == 'info' %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    {{ message|safe|escape }}
                </div>
            {% elif message.tags == 'warning' %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    {{ message|safe|escape }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}




    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add FLight</legend>
                {{ form.as_p }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
    </div>
{% endblock content %}