{% extends "base.html" %}
{% load custom_tag %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <h2>Password Reset Confirm</h2><hr>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="form-change-password mx-auto">
                    <legend class="border-bottom mb-4">Change password</legend>
                    <div class="input-container ic1">
                        {{ form.new_password1|addcss:"input" }}
                        <div class="cut"></div>
                        <label class="placeholder">Password</label>
                    </div>
                    {{ form.new_password1.help_text}}
                    <div class="input-container ic1">
                        {{ form.new_password2|addcss:"input" }}
                        <div class="cut"></div>
                        <label class="placeholder">Password</label>
                    </div>
                    <br>
                    <button class="btn btn-outline-info" type="submit">Reset password</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}