{% extends "base.html" %}
{% load custom_tag %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                    <div class="form_register mx-auto">
                        <legend class="border-bottom mb-4">Join</legend>
                        {{ form.first_name.errors }}
                        {{ form.first_name.help_text}}
                        <div class="input-container ic1">
                            {{ form.first_name|addcss:"input" }}
                            <div class="cut"></div>
                            <label class="placeholder">First Name</label>
                        </div>
                        {{ form.last_name.errors }}
                        {{ form.last_name.help_text}}
                        <div class="input-container ic2">
                            {{ form.last_name|addcss:"input" }}
                            <div class="cut"></div>
                            <label class="placeholder">Last Name</label>
                        </div>
                        {{ form.username.help_text}}
                        {{ form.username.errors }}
                        <div class="input-container ic2">
                            {{ form.username|addcss:"input" }}
                            <div class="cut"></div>
                            <label class="placeholder">Username</label>
                        </div>
                        {{ form.email.errors }}
                        <div class="input-container ic2">
                            {{ form.email|addcss:"input" }}
                            <div class="cut"></div>
                            <label for="firstname" class="placeholder">Email</label>
                        </div>
                        {{ form.password1.errors }}
                        {{ form.password1.help_text}}
                        <div class="input-container ic2">
                            {{ form.password1|addcss:"input" }}
                            <div class="cut"></div>
                            <label class="placeholder">Password</label>
                        </div>
                        {{ form.password2.errors }}
                        <div class="input-container ic2">
                            {{ form.password2|addcss:"input" }}
                            <div class="cut"></div>
                            <label class="placeholder">Confirm</label>
                        </div>
                        <div class="form-group input-container ic2">
                            <button class="btn btn-outline-info" type="submit">Sign up</button>
                        </div>
                    </div>
                </fieldset>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2 post-title" href="/login">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}